In [5]:
import pandas as pd
lm = pd.read_csv('results_hash_1M.csv',index_col=0)
l = pd.read_csv('results_hash_100.csv',index_col=0)

In [9]:
l.describe()

               hash         hash0
count    100.000000    100.000000
mean    7612.610000   7612.610000
std     6341.173911   1721.247233
min      797.000000   7173.000000
25%     1832.000000   7385.750000
50%     7611.500000   7438.000000
75%    13380.000000   7500.000000
max    30387.000000  24627.000000

In [8]:
lm.describe()

               hash         hash0
count  10000.000000  10000.000000
mean      76.126100     76.126100
std      213.183485    254.917016
min        0.000000      0.000000
25%        4.000000      0.000000
50%       18.000000      0.000000
75%       53.000000      7.000000
max    17494.000000  17261.000000

In [10]:
import seaborn as sns